.jumbo {
    margin-bottom: 2rem;
    background-color: white;
    border-radius: .3rem;
    text-align: center;
}

.container {
    text-align: center;
}

#results-div {
    display: none;
    padding-top: 20px;
}